<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/public/assets/stylesheets/stylesheet.min.css" media="screen" title="no title">
  </head>

  <body>
    <h1>Breizhtrip</h1>
    <p>Only opened between 12 pm and 12:05 pm</p>
  </body>

  <footer>
    <link rel="javascript" href="/public/assets/javascripts/javascript.min.js">
  </footer>
</html>
