$font-text: 'Open Sans';
$font-title: 'Roboto';
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Oxygen', 'Ubuntu', 'Cantarell', Helvetica, Arial, sans-serif;
$body-font-family: $font-text, $font-family;
$title-font-family: $font-title, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-size-x-small: 0.66em;
$font-size-small: 1em;
$font-size-regular: 1.33em;
$font-size-large: 2em;
$font-size-xx-large: 2.667em;
$font-size-xxx-large: 4em;
